.ant-layout-sider-children {
    background-color: #1C6758; 
    position: relative;
}


.my-layout {
    height: 100vh;
}


.item-header{
  color: #fff;
  font-size: 16px;
}

.logo {
    height: 150px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
  
.site-layout-sub-header-background {
    background: #fff;
  }
  
.site-layout-background {
    background: #fff;
}


// .my-menu {
//     background: transparent !important;
// }

// .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
//     background-color: #3D8361 !important;
//     color: #fff;
//     font-size: 16px;
//     padding-left: 0px;
// }

// .ant-menu-item:hover {
//     color: #fff !important; 
// }


