.line-vertical {
    height: 120px;
    width: 2px;
    background-color: #002766;
}

.line-horizontal {
    width: 20px;
    background-color: #002766;
}

.log-title-text {
    font-size: 24px;
    font-weight: 600;
    color: #e8b26e;
}

.log-container {
    padding: 24px 36px;
    border: 1px solid #ABC4AA;
    border-radius: 8px;
    margin-bottom: 16px;
}