.img {
    background-color: black;
    height: 100vh;
}

.authen-page {
    background-color: black;
    height: 100vh;
}

.layout-authen {
    position: relative;
    height: 100vh;
    background-color: white;
    .content-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
    }
}

.text-title {
    color: #e8b26e;
    font-weight: 700;
    font-size: 36px;
    
}

.center-content {
    display: flex;
    justify-content: center;
}

.form-authen {
    padding-top: 32px;
    .ant-form-item-label {
        & > label {
         font-size: 16px;
         font-weight: 500;
         color: #000e1c;
        }
     }
}

.text-grey {
    color: #86A3B8;
    font-size: 16px;
}

.text-grey:hover {
    color: #e8b26e
}





// .ant-input-affix-wrapper:focus {
//     border-color: '#e8b26e' !important;
// }

// .form-control {
//     color: #1C6758 !important;
//     border-radius: 8px !important;
// }

