.title-dashboard {
    font-size: 32px;
    font-weight: 600;
    color: #111d2c;
}

.sub-title-dashboard {
    font-size: 20px;
    font-weight: 400;
    color: black;
    font-style: italic;
}

.layout-card {
    margin-top: 24px;
    display: flex;
    justify-content: space-between,
}