.header-content {
    width: 100%;
    background-color: white;
    padding: 12px 24px;
    margin-bottom: 36px;
    border-radius: 4px;

    .breadcrumb-style {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 16px;
    }
    .title-header {
        font-weight: 700;
        font-size: 32px;
        color: #111d2c;
        padding-bottom: 8px;
    }
    .sub-title-header {
        font-weight: 400;
        color: grey;
        font-size: 20px;
    }
}

.action-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    padding-bottom: 12px;
}

.content-page {
    background-color: white;
    padding: 24px 32px;
    width: 100%;
    // padding-bottom: 64px;
    border-radius: 4px;

    .search-item {
        width: 60%;
        padding-top: 24px;
        margin-bottom: 24px;
    }
    .label-search {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: black;
        font-weight: 600;
        margin-right: 24px;
    }

    .btn-layout-center-form {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .text-title {
        font-size: 16px;
        font-weight: 600;
        padding-left: 64px;
        color: #111d2c;
    }

    .info-row {
        margin-bottom: 12px;
        .row-label-item {
            font-size: 16px;
            font-weight: 400;
            color: black;
            margin-right: 12px;
        }
    
        .row-title-item {
            font-size: 20px;
            font-weight: 500;
            color: black;
        }
    }

    .text-content-form {
        font-size: 14px;
        font-weight: 500;
        color: #111d2c;
    }

    .row-btn-layout {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 24px 0px;
    }

    .text-main-label {
        font-size: 24px;
        font-weight: 700;
        color: #111d2c;
    }

    p {
        padding: 0;
        margin: 0;
    }

    .divide-width-item-in-row {
        display: flex;
        align-items: center;
        width: "25%";
    }
}

.divided {
    height: 1px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #D9DDDC;
    width: 100%;
}

.sub-text {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #999DA0;
}

.content-sub-text {
    font-size: 16px;
    font-weight: 600;
    color: #111d2c;
}

.title-text {
    font-size: 16px;
    font-weight: 400;
    color: #111d2c;
}

.content-text {
    font-size: 18px;
    font-weight: 700;
    color: #111d2c;
}

.outlined-border-box {

    p {
        margin: 0;
        padding: 0;
        color: black;
        font-size: 18px;
        font-weight: 700;
    }
}

.common-border-tag {
    padding: 4px 16px;
    background-color: white;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    font-weight: 700;
}

.space-padding {
    padding: 12px;
}

.row-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-confirm-modal {
    font-size: 16px;
    font-weight: 600;
    color: #e8b26e;
}

.common-image {
    padding: 4px;
    border-radius: 4px;
    border: #D9DDDC;
    background-color: #D9DDDC;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.blockchain-setting {
    padding: 16px 12px;
    font-size: 16px;
    margin-bottom: 12px;
    background-color: #e8b26e;
    font-weight: 600;

    p {
        margin: 0;
        padding: 0;
    }
}

// Tag card border common
.card-border-title {
    background-color: rgba(232, 178, 110, 0.5);
    color: black;
    border-radius: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 8px;
    display: inline-flex;
    border: 1px solid #999DA0;
}

.container-hover:hover{
    cursor: pointer;
}

// input
.ant-input-affix-wrapper.ant-input-password:hover {
    border-color: #e8b26e !important;
}

.ant-input-affix-wrapper-focused {
    border-color: #e8b26e !important;
    box-shadow: 0 0 0 2px rgba(232, 178, 110, 0.2) !important;
}

.ant-input:focus {
    border-color: #e8b26e !important; 
    box-shadow: 0 0 0 2px rgba(232, 178, 110, 0.2) !important;
}

.ant-input:hover {
    border-color: #e8b26e !important;
}

// table 
.ant-btn.ant-btn-primary.ant-input-search-button {
    background-color: #e8b26e;
    color: white;
    border-color: #e8b26e;
}

.ant-pagination-item-active {
    border-color: #e8b26e !important;
}

.ant-pagination-item-active a {
    color: #e8b26e !important;
}

.ant-pagination-item a:hover {
    color: #e8b26e !important;
}

.ant-pagination-item:hover {
    border-color: #e8b26e !important;
}

.ant-pagination-next {
    border-color: #e8b26e !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #e8b26e !important;
    box-shadow: 0 0 0 2px rgba(232, 178, 110, 0.2) !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector:hover{
    border-color: #e8b26e !important;
}

.ant-pagination-item-link:hover {
    border-color: #e8b26e !important;
}

.ant-pagination-item-link .anticon .anticon-right:hover {
    color: #e8b26e !important;
}

// menu item
.ant-menu-item-selected {
    color: #e8b26e !important;
}

.ant-menu-inline .ant-menu-item:after{
    border-right: 3px solid #e8b26e !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: rgba(232, 178, 110, 0.1) !important;
}

.ant-menu-item-active {
    color: #e8b26e !important;
}

// button
.ant-btn-primary {
    background-color: #e8b26e !important;
    border-color: #e8b26e !important;
    border-radius: '4px' !important;
}

// spin
.ant-spin-dot-item {
    background-color: #e8b26e !important;
}
