.header-content {
    width: 100%;
    background-color: white;
    padding: 12px 24px;
    margin-bottom: 36px;

    .breadcrumb-style {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 16px;
    }
    .title-header {
        font-weight: 600;
        font-size: 32px;
        color: black;
        padding-bottom: 8px;
    }
    .sub-title-header {
        font-weight: 400;
        color: grey;
        font-size: 20px;
    }
}

.action-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    padding-bottom: 12px;
}

.content-page {
    background-color: white;
    padding: 12px 24px;
    width: 100%;
    padding-bottom: 64px;

    .search-item {
        width: 60%;
        padding-top: 24px;
        margin-bottom: 24px;
    }
    .label-search {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: black;
        font-weight: 600;
        margin-right: 24px;
    }

    .btn-layout-center-form {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .text-title {
        font-size: 16px;
        font-weight: 600;
        padding-left: 64px;
        color: black;
    }

    .info-row {
        margin-bottom: 12px;
        .row-label-item {
            font-size: 16px;
            font-weight: 400;
            color: black;
            margin-right: 12px;
        }
    
        .row-title-item {
            font-size: 20px;
            font-weight: 500;
            color: black;
        }
    }

    .text-content-form {
        font-size: 14px;
        font-weight: 500;
    }

    .row-btn-layout {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 24px 0px;
    }
}


