.ant-dropdown-menu-item{
    flex-direction: row-reverse;
    gap: 8px;
}

.item-header {
    color: white;
    font-size: 24px;
    margin-right: 12px;
}

.item-role {
    font-weight: 700;
    margin-right: 32px;
}

.app-name {
    color: white;
    font-size: 24px;
    font-weight: 500;
}